body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

#user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
}

.user-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.user-picture {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info p {
    margin: 10px 0;
}

#refresh-button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#refresh-button:hover {
    background-color: #45a049;
}
